#corpo{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 120px);
}

.icone-perfil{
	color: white;
	vertical-align: middle;
    background: #C0C0C0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}   

.default-sidebar>.side-navbar {
    min-width: 180px;
}

.content-inner {
    margin-left: 180px;
    width: calc(100% - 180px);
}

.default-sidebar {
    background: #fff;
}

.default-sidebar>.side-navbar ul ul {
    background: #fff;
}

.default-sidebar>.side-navbar a[aria-expanded="true"] {
    background: #fff;
    margin: 0 10px 0 10px;
    border-radius: 4px 4px 0 0;
}

.default-sidebar>.side-navbar a[aria-expanded="true"] i {
    color: #5d5386;
}


.default-sidebar>.side-navbar ul ul a:hover, .default-sidebar>.side-navbar ul a:hover i{
    color: #5d5386;
}

.btn-novo{
    float: right!important;
}

.daterangepicker{
    z-index: 100000!important;
}

.select2-container{
    z-index: 100000!important;
}

.swal2-container{
    z-index: 100000!important;
}

.selection{
    width: 100%;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.btn-action {
    background: transparent;
    color: rgba(52,40,104,.4);
    font-size: 1.6rem;
    padding: .5rem;
    border-radius: 50%;
    transition: all 0.4s ease;
}

a:focus, a:hover {
    color: #5d5386;
    text-decoration: none;
}

.card-master-detail{
    padding-top: 10px;
    border: .07rem solid #eee;
    margin: 10px;
    border-radius: 10px;
}

.lista-arquivos a:visited, .lista-arquivos a:focus, .lista-arquivos a:hover {
    color: #FFFFFF !important;
}

.hide{
    display: none;
}

.titulo-card{
    padding: 1.6rem;
}

.titulo-card div{
    font-weight: bold;
    font-size: 16px;
}